*{margin:0px; padding:0px;}

.bg-back {
  background: #3f639e;
}

.header {
  background: #E1E1E1;
  width: 100%;
  height: 50px;
}

.box-login {
  width: 400px;
  height: 600px;
  background: #E1E1E1;
  margin-top: 100px;
}

.menu {
  width: 100%;
  height: 70px;
  background: #E1E1E1;
}

.menu a {
  font-size: 14px;
  color: gray;
  font-family: arial, helvetica, sans-serif;
  text-decoration: none;
  font-weight: 400;
}

.exit {
  margin-top: 30px;
}

.menu a:hover {
  text-decoration:underline;
}

.selecionar-obra {
  width: 200px;
  height: 200px;
  background: black;
}

.form-control {
  width:auto;
  display:inline;
}

.card-body ul li {
  display: inline-block;
}


table{
  width:100%;
  table-layout: fixed;
}
.tbl-header{
  background:#3f639e;
  color: white;
 }
.tbl-content{
  height:80%;
  overflow-x:auto;
  margin-top: 0px;
  border: 1px solid rgba(255,255,255,0.3);
}
th{
  padding: 10px 15px;
  text-align: left;
  font-weight: 500;
  font-size: 12px;
  color: black;
  text-transform: uppercase;
}
td{
  padding: 8px;
  text-align: left;
  vertical-align:middle;
  font-weight: 300;
  font-size: 12px;
  color: black;
  border-bottom: solid 1px rgba(255,255,255,0.1);
  border: 1px solid #E1E1E1;
}


/* demo styles */

@import url(https://fonts.googleapis.com/css?family=Roboto:400,500,300,700);
body{
  background: -webkit-linear-gradient(left, white, white);
  background: linear-gradient(to right, white, white);
  font-family: 'Roboto', sans-serif;
}
section{
  margin: 50px;
}


/* follow me template */
.made-with-love {
  margin-top: 40px;
  padding: 10px;
  clear: left;
  text-align: center;
  font-size: 10px;
  font-family: arial;
  color: #fff;
}
.made-with-love i {
  font-style: normal;
  color: #F50057;
  font-size: 14px;
  position: relative;
  top: 2px;
}
.made-with-love a {
  color: #fff;
  text-decoration: none;
}
.made-with-love a:hover {
  text-decoration: underline;
}


/* for custom scrollbar for webkit browser*/

::-webkit-scrollbar {
    width: 6px;
} 
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
} 
::-webkit-scrollbar-thumb {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
}